<% layout('../layout') -%>
<h3>Upcoming Events:</h3>
<div class="indent">
  <% if (events.length > 0) { %>
  <%events.forEach(function(event) {%>
  <div class="container-fluid well well-small">
    <div class="span4">
      <%=event.eventName%>
      <br>
      <%=event.eventType%>
    </div>
    <div class="span6">
      <div class="span4">
        Date: <%=event.eventDate%><br>
        Time: <%=event.eventTime%><br>
        Location: <%=event.location%><br>
        Attending: <%=event.attendees%><br>
      </div>
    </div>
  </div>
  <%});%>
  <h2>WE HAVE EVENTS!!!!</h2>
  <%}%>
  <a class="btn btn-primary" href="/events/create">Create Event</a>
</div>